@font-face {
    font-family: 'Superpixel';
    src: 
    url('../fonts/Superpixel.woff') format('woff')
    url('../fonts/Superpixel.ttf') format('ttf');
}
body {
    margin: 0;
    background-color: #252636;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f1e;
    padding: 1.5em 1.5em;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}
/*test css*/
.content{
    text-align: center;
    color: white;
}
.content,a{
    text-decoration: none;
    color: white;
}
.content-table{
    margin-left: auto;
    margin-right: auto;
}
.change{
    text-decoration: none;
}
/*index css*/
.index-vid{
    width: 100vw;
}
.index-vid-container{
    position: relative;
    width: 100vw;
    height: 400px; /* Full viewport height */
    overflow: hidden;
    margin-top: 5px;
    justify-items: center;
}
.vid{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
.index-vid-intro{
    color: white;
    width: auto;
    justify-self: center;
    font-family: 'superpixel', sans-serif;
    border-radius: 50px;
    background-color: rgb(66, 163, 253);
}
.index-vid-intro,.intro-header, h3{
    margin-top: 20vh;
    margin-bottom: 25vh;
}
/*Footer css*/
.footer-div-main{
    display: grid;
    grid-template-columns: 50vh 50vh;
    gap: 20vh;
    width: 100vh;
    color: white;

    margin: 0 auto; /* Centers it in the document flow */
    margin-top: 20px;
}
.footer-div{
    width: fit-content;
}
.footer-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-ul > li:first-child{
    text-decoration: underline;
    margin-bottom: 1rem;
}
.footer-ul-icons {
    font-size: 25px;
    display: flex;
    gap: 1rem;
    justify-content: center; 
}
.fa-tiktok:hover{
    filter:
    drop-shadow(3.5px 0.5px 1px red)
    drop-shadow(-3.5px -0.5px 1px cyan);
}
.fa-instagram:hover{
    filter:
    drop-shadow(-4px -2px 2px #DE3163)
    drop-shadow(4px 1px 2px #BF40BF);
}
.fa-envelope:hover{
    filter: drop-shadow(5px 2px 2px rgb(32, 111, 214));
}
.fa-twitch:hover{
    filter: drop-shadow(5px 2px 2px #BF40BF);
}
#icon{
    color: white;
}
.footer-p{
    color: white;
    padding-top: 10px;
    text-align: center;
}