<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceagen webFlask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/02a74f5624.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Ceagen</div>
        <ul class="nav-links">
            <li><a href="{{url_for('index')}}">Accueil</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <!--<a href="https://github.com/Ceagen/Slots"><option value="slots" target="_blank">Slots</option></a>
    <a href="https://github.com/Ceagen/Projet/tree/main/Portfolio"><option value="html/css/js">html/css/js</option></a>-->
    {% block body %}{% endblock %}
</body>
<footer>
    <div class="footer-div-main"> 
        <div class="footer-div">
            <div>
                <p>Just a chill guy who like to learning new stuff about coding</p>
            </div>
        </div> 
        <div class="footer-div">
            <ul class="footer-ul">
                <li><h4>Find me on</h4></li>
                <li class="footer-ul-icons">
                    <a href="https://www.tiktok.com/@ceagen_?is_from_webapp=1&sender_device=pc" target="_blank"><i class="fa-brands fa-tiktok" id="icon"></i></a>
                    <a href="https://www.instagram.com/gedourshen" target="_blank"><i class="fa-brands fa-instagram" id="icon"></i></a>
                    <a href="mailto:starnayaw8@gmail.com"><i class="fa-regular fa-envelope" id="icon"></i></a>
                    <a href="https://www.twitch.tv/ceagen01" target="_blank"><i class="fa-brands fa-twitch" id="icon"></i></a>
                </li>
            </ul>
        </div> 
    </div>
    <p class="footer-p">© 2025 Ceagen.co lmao jokes i own no company</p>
</footer>
</html>