{% extends 'base.html' %}

{% block body %}
<div class="index-main">
    <div class="index-vid">
        <div class="index-vid-container">
            <video autoplay muted loop class="vid">
                <source src="{{ url_for('static', filename='/img/OOT-Intro.mp4') }}" type="video/mp4">
            </video>
            <div class="index-vid-intro">
                <span class="intro-header"><h3>Welcome to my den Im Ceagen</h3></span>
            </div>
        </div>
    </div>
    <div class="index-container">
        <div class="rotate-wrapper">
            <img src="{{ url_for('static', filename='/img/blades.png') }}" alt="blades" class="autoRotate">
        </div>
    </div>
</div>
{% endblock %}